<div class="container">
    <p>總金額<span>{{totalAmount}}</span></p>
    <ul class="list-group">
    {{#each records}}
        <li class="list-group-item">
            <div class="form">
                <div class="information-zone">
                    <div class="a">
                        <h4>{{this.name}}</h4>
                        <p>{{this.date}}</p>
                    </div>
                    <p>{{this.amount}}</p>
                </div>
                <div class="btn-zone">
                    <a class="btn btn-outline-success" href="/records/{{this._id}}/edit">修改</a>
                    <form action="/records/{{this._id}}?_method=DELETE" method="POST">
                        <button class="btn btn-outline-danger" type="submit">刪除</button>
                    </form>
                </div>
            </div>
        </li>
    {{/each}}
    </ul>
    <a class="btn btn-danger btn-lg mt-3" href="/records/new">新增支出</a>
</div>

